<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>templates index</title>
<!-- <link rel="stylesheet" href="/main.css" /> -->
</head>
<body>
	Templates Index
	<!-- <div id="react"></div>
	<div id="someDiv" value="${someDiv}">Hello</div> -->
	

</body>
<script>
		fizzBuzz(100);

	 function fizzBuzz(size){
		 
		var result = 1;
		
		 while (result <= size) {
			 <!--if (result % 5 == 0){
				console.log("buzz");
			}else if (result % 3 == 0){
				console.log("fizz");
			}else{
				console.log(result);
			 } 
			result++ ;  -->
		}; 
		
	}
	</script>
</html>